:root {
	--cell-side: 50px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "VT323", monospace;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #ffebc5;
}

.board {
	border: 1px solid black;
	border-radius: 8px;
}

.cell {
	font-size: 150%;
	height: var(--cell-side);
	width: var(--cell-side);
}

.cell-inner {
	text-align: center;
}

.closed {
	background-color: #f0ffff;
}
.closed:hover,
.closed:active {
	background-color: #9aedf0;
}

.opened {
	background-color: #d8e7e7;
}
